<div tabindex="0" role="button" style="cursor: pointer; outline: none;" class="nik-chat" (click)="toogle()">
  <svg width="60px" height="60px" viewBox="0 0 60 60">
    <svg x="0" y="0" width="60" height="60">
      <defs>
        <linearGradient x1="50%" y1="100%" x2="50%" y2="0.000340050378%" id="linearGradient-1">
          <stop stop-color="#b52e31" offset="4.5%"></stop>
          <stop stop-color="#b53f31" offset="95.5%"></stop>
        </linearGradient>
      </defs>
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g>
          <g>
            <circle fill="#FFFFFF" cx="30" cy="30" r="30"></circle>
            <g transform="translate(10.000000, 11.000000)">
              <path d="M0,18.7150914 C0,24.5969773 2.44929143,29.6044708 6.95652174,33.0434783 L6.95652174,40 L14.2544529,36.6459314 C16.0763359,37.1551856 18,37.4301829 20,37.4301829 C31.043257,37.4301829 40,29.0529515 40,18.7150914 C40,8.37723141 31.043257,0 20,0 C8.956743,0 0,8.37723141 0,18.7150914 Z"
                fill="url(#linearGradient-1)"></path>
              <polygon fill="#FFFFFF" points="16.9378907 19.359375 7 25 17.8976562 13.140625 23.0570312 18.640625 33 13 22.1023437 24.859375"></polygon>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </svg>
</div>


<div class="chat-area" [@openClose]="isOpen ? 'open' : 'closed'">

  <div class="_f_0">
    <div class="_1qd1" (click)="toogle()">
      <div class="_2t-5 _4bqf" tabindex="0" role="button"><svg width="10px" height="10px" viewBox="0 0 14 14">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-419.000000, -413.000000)">
              <g transform="translate(164.000000, 396.000000)">
                <g>
                  <g transform="translate(250.000000, 12.000000)">
                    <g>
                      <g>
                        <rect opacity="0.200000003" x="0" y="0" width="24" height="24"></rect>
                        <g transform="translate(4.000000, 4.000000)" fill="#000000">
                          <rect transform="translate(8.000000, 8.000000) rotate(45.000000) translate(-8.000000, -8.000000) "
                            x="7" y="-1" width="2" height="18" rx="1"></rect>
                          <rect transform="translate(8.000000, 8.000000) rotate(135.000000) translate(-8.000000, -8.000000) "
                            x="7" y="-1" width="2" height="18" rx="1"></rect>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg></div>
    </div>
    <div class="_hov">
      <div class="_how _4ik4 _4ik5" style="-webkit-line-clamp: 1;">Nikhil Savaliya</div>
      <div class="_hox _4ik4 _4ik5" style="-webkit-line-clamp: 1;">Typically replies instantly</div>
    </div>
    <div class="_1qd3">
      <div class="_4bqf _17l7" tabindex="0" role="button"><svg width="24px" height="24px" viewBox="0 0 24 24">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-413.000000, -56.000000)">
              <g transform="translate(90.000000, 44.000000)">
                <g>
                  <g>
                    <g transform="translate(324.000000, 13.000000)">
                      <circle fill="#FFFFFF" stroke="#b53f31" cx="11" cy="11" r="11"></circle>
                      <path d="M11,9 L12,9 L12,17 L13,17 L13,17.5 L9,17.5 L9,17 L10,17 L10,9.5 L9,9.5 L9,9 L11,9 Z M11,4.5 C11.8284271,4.5 12.5,5.17157288 12.5,6 C12.5,6.82842712 11.8284271,7.5 11,7.5 C10.1715729,7.5 9.5,6.82842712 9.5,6 C9.5,5.17157288 10.1715729,4.5 11,4.5 Z"
                        fill="#b53f31"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg></div>
    </div>
  </div>

  <div class="_424s">
    <div class="_5f0v uiScrollableArea fade contentAfter" height="100%" tabindex="0" style="height: 100%;">
      <div class="uiScrollableAreaTrack hidden_elem" tabindex="0" style="opacity: 0;">
        <div class="uiScrollableAreaGripper" style="height: 231.572px; top: 0px;"></div>
      </div>
      <div class="uiScrollableAreaWrap scrollable" style="overscroll-behavior: contain contain;" id="js_0">
        <div class="uiScrollableAreaBody" style="margin-right: -15px;">
          <div class="uiScrollableAreaContent">
            <div>
              <div class="preventScrollOverflow">
                <div class="conversationContainer">
                  <h4 class="datebreak _497p _2lpt"><time class="_3oh-">Sep 18th, 5:29pm</time></h4>
                  <div class="_4xkn clearfix">
                    <div class="messages">
                      <div class="_21c3">
                        <div class="clearfix _2a0-">
                          <div class="_4xko _4xks" tabindex="0" role="button" style="background-color: rgb(0, 132, 255);"><span><span>Ji</span></span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="_4xkn clearfix">
                    <div class="profilePictureColumn" style="bottom: 0px;">
                      <div class="_4cqr"><img class="profilePicture img" src="https://scontent.fbom11-1.fna.fbcdn.net/v/t1.0-1/c50.0.200.200/p200x200/33510415_604384703287640_6589330832589062144_n.jpg?_nc_cat=102&amp;_nc_ht=scontent.fbom11-1.fna&amp;oh=855f662183710830f0fdc175c9e2e070&amp;oe=5C4D8FCF"
                          alt="">
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <div class="messages">
                      <div class="_21c3">
                        <div class="clearfix _2a0-">
                          <div class="_4xko _4xkr" tabindex="0" role="button" style="background-color: rgb(241, 240, 240);"><span><span>Thanks
                                for messaging us. We try to be as responsive as possible. We'll get back to you soon.</span></span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="_4xkn clearfix">
                    <div class="profilePictureColumn" style="bottom: 0px;">
                      <div class="_4cqr"><img class="profilePicture img" src="https://scontent.fbom11-1.fna.fbcdn.net/v/t1.0-1/c50.0.200.200/p200x200/33510415_604384703287640_6589330832589062144_n.jpg?_nc_cat=102&amp;_nc_ht=scontent.fbom11-1.fna&amp;oh=855f662183710830f0fdc175c9e2e070&amp;oe=5C4D8FCF"
                          alt="">
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <div class="messages">
                      <div class="_21c3">
                        <div class="clearfix _2a0-">
                          <div class="_4xko _4xkr" tabindex="0" role="button" style="background-color: rgb(241, 240, 240);"><span><span>Thanks
                                for messaging us. We try to be as responsive as possible. We'll get back to you soon.</span></span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="_4xkn clearfix">
                    <div class="profilePictureColumn" style="bottom: 0px;">
                      <div class="_4cqr"><img class="profilePicture img" src="https://scontent.fbom11-1.fna.fbcdn.net/v/t1.0-1/c50.0.200.200/p200x200/33510415_604384703287640_6589330832589062144_n.jpg?_nc_cat=102&amp;_nc_ht=scontent.fbom11-1.fna&amp;oh=855f662183710830f0fdc175c9e2e070&amp;oe=5C4D8FCF"
                          alt="">
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <div class="messages">
                      <div class="_21c3">
                        <div class="clearfix _2a0-">
                          <div class="_4xko _4xkr" tabindex="0" role="button" style="background-color: rgb(241, 240, 240);"><span><span>Thanks
                                for messaging us. We try to be as responsive as possible. We'll get back to you soon.</span></span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h4 class="datebreak _497p _2lpt"><time class="_3oh-">11:07</time></h4>
                  <div class="_4xkn clearfix">
                    <div class="messages">
                      <div class="_21c3">
                        <div class="clearfix _2a0-">
                          <div class="_4xko _4xks" tabindex="0" role="button" style="background-color: rgb(0, 132, 255);"><span><span>hi</span></span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="position: relative; top: 0px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="_336a">
    <div class="_4zbw">
      <div class="_4fwe"><label class="_58ak _3ct8"><input class="_58al" type="text" placeholder="Type a message..."
            value=""></label></div>
      <div class="_kmd">
        <div class="_64mk _2ez5 _6a"><input accept="application/msword, application/pdf, text/csv, text/plain, image/*, video/*"
            class="_2ez6" multiple="" name="attachment[]" title="Add Files" type="file"></div>
      </div>
    </div>
  </div>

</div>